<% provide(:title, "Skrap.io") %>
<h1>Sign up!</h1>
<div>Skrap.io creates efficiencies for both businesses and waste haulers in the New York City area. Skrap may be able to get you better rates and services for your waste management needs. Sign-up below to receive more information.<div>

<div>
  <%= form_for @client do |f| %>
	<%= f.text_field :email_address, class: "form-control", placeholder: "Email address" %>
	<br>
	<%= f.submit "Submit", class: "btn btn-default"%>
	<% end %>
</div>

</div>
